<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#">PMP</a>
                <a class="nav-link" href="/">Home</a>
                <a sec:authorize="hasAuthority('ADMIN')" class="nav-link" href="/admin">Admin</a>
                <a sec:authorize="hasAuthority('ADMIN')" class="nav-link" href="/projects">Tasks</a>
                <a sec:authorize="hasAuthority('USER')" class="nav-link" href="/tasks">My Tasks</a>
                <a sec:authorize="isAuthenticated() == false" class="nav-link" href="/user/reg">Register</a>
                <a sec:authorize="isAuthenticated() == false" class="nav-link" href="/user/login">Log in</a>
                <a sec:authorize="isAuthenticated()" class="nav-link" href="/user/logout">Log out</a>
            </div>
        </div>
    </div>
</nav>
<div align="center">
    <form action="#" th:action="@{/user/reg}" method="post" th:object="${user}">

        <p th:if="${error} != null" th:text="${error}">Error</p>

        <label th:for="firstName">First name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required/>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect first name</p>
        <br><br>

        <label th:for="lastName">Last name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required/>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect last name</p>
        <br><br>


        <label th:for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</p>
        <br><br>

        <label th:for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</p>
        <br><br>

        <label th:for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>
        <br><br>

        <input type="submit"/>

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>